/* Anything smaller than first breakpoint 600px */
html {
    height: 100%;
    padding: 0 20px;
}


body {
    display: flex;
    flex-direction: column;
    gap: 60px;
    height: 100%;
    background-color: #ededed;
}


/* header */
header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.follow {
    height: 30px;
    width: 100px;
    font-size: medium;
    border-radius: 5px;
    background-color: white;
}


/* content */
/* links */
.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    font-size: large;
}

/* cards */
.cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(500px, auto);
    grid-gap: 15px;
    flex: 1 0 auto;
}

.card-title {
    margin: 0;
}

.card-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px 30px;
    background-color: white;
    border-radius: 10px;
}

.card-detail {
    margin: 0;
    font-size: 15px;
    color: gray;
}

.read-more {
    width: 100%;
    text-align: start;
}


/* footer */
footer {
    color: gray;
    text-align: center;
    padding-block: 40px;
    background-color: white;
    border-radius: 10px 10px 0 0;
}


/* Medium Screens */
@media (min-width: 600px) and (max-width: 900px) {
    body {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 4fr 1fr;
        grid-template-areas:
            "hd hd hd"
            "sd main main"
            "ft ft ft";
        background-color: #ededed;
    }


    /* header */
    header {
        grid-area: hd;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }


    /* content */
    /* links */
    .links {
        grid-area: sd;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 25px;
        font-size: large;
    }

    /* cards */
    .cards {
        grid-area: main;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(500px, auto);
        grid-gap: 15px;
    }


    /* footer */
    footer {
        grid-area: ft;
        color: gray;
        text-align: center;
        padding-block: 40px;
        background-color: white;
        border-radius: 10px 10px 0 0;
    }
}